
@{
    ViewBag.Title = "Xem danh sách merchant được quản lý";
}

@section contentHeader {
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Xem danh sách merchant</a> </div>
    <h1>Danh sách các merchant quản lý</h1>
}

<hr>
<div class="row-fluid" ng-app="myApp" ng-controller="myController">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Danh sách</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="row in list">
                            <td><a href="/Merchant/ViewDetail/{{row.merchantId}}"><i class="icon icon-eye-open"></i></a></td>
                            <td>{{row.merchantId}}</td>
                            <td><a href="/Merchant/ViewDetail/{{row.merchantId}}">{{row.merchantName}}</a></td>
                            <td>{{row.address1}}</td>
                            <td class="center">{{row.phone}}</td>
                            <td class="center">{{row.email}}</td>
                            <td class="center">{{row.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section js {
<script src="~/Asset/angular/angular.min.js"></script>
<script>
    $("div#divLoading").addClass('show');
    var app = angular.module('myApp', []);

    app.service('userService', function ($http) {
        this.f_GetData = function () {
            return $http({
                method: "POST",
                data: { token: sessionStorage.token_value },
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                url: 'http://localhost:8080/RFJVService/rest/agent/listmerchantmanage'
            });
        };

    });

    app.controller('myController', function ($scope, userService) {

        userService.f_GetData().then(function (a_Result) {
            var l_Data = a_Result.data;
            var result = l_Data.merchant;
            console.log(result);

            if (!Array.isArray(result)) {
                var array = [];
                array.push(result);

                $scope.list = array;
            }
            else {
                $scope.list = result;
            }

            //$scope.list = l_Data.merchant;
            $("div#divLoading").removeClass('show');
        })

    });

</script>

}
