
@{
    ViewBag.Title = "Đổi mật khẩu";
}

@section contentHeader {
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Đổi mật khẩu</a> </div>
    <h1>Thông tin tài khoản</h1>
}
<hr>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Thông Tin Tài Khoản</h5>
            </div>
            <div class="widget-content nopadding">
                <form id="form-wizard" class="form-horizontal" method="post">
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">Mật khẩu cũ</label>
                            <div class="controls">
                                <input id="username" type="password" name="username" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Mật khẩu mới</label>
                            <div class="controls">
                                <input id="password" type="password" name="password" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Xác nhận mật khẩu</label>
                            <div class="controls">
                                <input id="password2" type="password" name="password2" />
                            </div>
                        </div>
                    </div>
                    @*<div id="form-wizard-2" class="step">
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input id="email" type="text" name="email" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">EULA</label>
                            <div class="controls">
                                <input id="eula" type="checkbox" name="eula" />
                            </div>
                        </div>
                    </div>*@
                    <div class="form-actions">
                        <label class="control-label" ></label>
                        <div>
                            <input id="back" class="btn btn-primary" type="reset" value="Quay lại" />
                            <input id="next" class="btn btn-primary" type="submit" value="Thay đổi" />
                        </div>
                        <div id="status"></div>
                    </div>
                    <div id="submitted"></div>

                    <div id="myAlert" class="modal hide">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button">×</button>
                            <h2><i class="icon-chevron-down"> </i>Thành công</h2>
                        </div>
                        <div class="modal-body">
                            <p>Thay đổi mật khẩu thành công</p>
                        </div>
                        <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" href="#">Xác nhận</a> </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section js {
    <script src="~/Asset/angular/angular.min.js"></script>
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.ui.custom.js"></script>
<script src="~/Asset/js/bootstrap.min.js"></script>
<script src="~/Asset/js/jquery.validate.js"></script>
<script src="~/Asset/js/jquery.wizard.js"></script>
<script src="~/Asset/js/matrix.js"></script>
<script src="~/Asset/js/matrix.wizard.js"></script>
    <script>
        document.getElementById("form-wizard").addEventListener("submit", myFunction);

        function myFunction() {
            
                var data = {
                   "token": sessionStorage.token_value,
                   "password_old": document.getElementById("username").value,
                   "password_new": document.getElementById("password").value
                }

                $.ajax({
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "text",
                    url: "http://localhost:8080/RFJVService/rest/user/checkchangepassword"
                }).done(function (data, statusText, xhr) {

                    //console.log(1);
                    //console.log(data);
                    //console.log(statusText);
                    //console.log(xhr);
                    var status = xhr.status;                //200
                    if (status == 200) {
                        $('#myAlert').modal('show');
                        //window.location.href = "/Home/Home";
                        //location.assign("/Home/Home"); tat cai nay thi no xuat cai nay, ma de cai nay thi nolai xuat cai nay mac du no van chay dung srivce
                    } else {
                        alert(status);
                    }

                    //window.location.href = "/Home/Home";
                    //if (response.agentName === "") {
                    //    alert("Khong lay dc thong tin Agent.");
                    //}
                    //else {
                    //    //alert(document.getElementById("CompanyName").innerHTML);
                    //    document.getElementById("CompanyName").innerHTML = response.agentName;
                    //    document.getElementById("CompanyName1").innerHTML = response.agentName;
                    //    document.getElementById("Fax").innerHTML = "Fax : " + response.fax;
                    //    document.getElementById("Phone").innerHTML = "Mobile Phone: +" + response.phone;
                    //    document.getElementById("Email").innerHTML = "Email : " + response.email;
                    //}

                }).fail(function (xhr, status, error) {
                    // tui nghi no xet fail khong phai post fail ma bi fail cai nay
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                });
                $('#myAlert').modal('show');
        }

        //function change() {
        
        //}
        
    </script>
}
