
@{
    ViewBag.Title = "Xem danh sách các merchant";
}

@section contentHeader {
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Xem danh sách merchant</a> </div>
    <h1>Danh sách các merchant quản lý</h1>
}

<hr>
<div class="row-fluid" ng-app="myApp" ng-controller="myController">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Danh sách</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Fullname</th>
                            <th>Role ID</th>
                            <th>Is Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="row in list">
                            <td>{{row.userid}}</td>
                            <td>{{row.username}}</td>
                            <td>{{row.password}}</td>
                            <td class="center">{{row.fullname}}</td>
                            <td class="center">{{row.roleid}}</td>
                            <td class="center">{{row.isactive}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section js {
    <script src="~/Asset/angular/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        app.service('userService', function ($http) {
            this.f_GetData = function () {
                return $http({
                    method: 'GET',
                    url: 'http://localhost:8080/RFJVService/rest/user/getlistuser'
                });
            };

        });

        app.controller('myController', function ($scope, userService) {

            userService.f_GetData().then(function (a_Result) {
                var l_Data = a_Result.data;
                $scope.list = l_Data.user;
            })

        });
    </script>
}