
@{
    ViewBag.Title = "ViewDetail";
}

@section contentHeader {
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Xem Thông tin Agent</a> </div>
    <h1>Thông tin Merchant</h1>
}

<div class="container-fluid" ng-app="myApp" ng-controller="myController">
    
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-briefcase"></i> </span>
                    <h5 id="CompanyName">{{merchant.merchantName}}</h5>
                </div>
                <div class="widget-content">
                    <div class="row-fluid">
                        <div class="span6">
                            <table class="">
                                <tbody>
                                    <tr>
                                        <td><h4 id="CompanyName1">{{merchant.merchantName}}</h4></td>
                                    </tr>
                                    <tr>
                                        <td id="Phone">Phone: +{{merchant.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td id="Email">Email: {{merchant.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address: {{merchant.address1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Type: {{merchant.typeName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6">
                            <table class="table table-bordered table-invoice">
                                <tbody>
                                    <tr>
                                        <td class="width30">Merchant ID:</td>
                                        <td class="width70"><strong>{{merchant.merchantId}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="width30">Status:</td>
                                        <td class="width70"><strong>{{merchant.isActive === "1" ? "Đang hoạt động" : "Ngừng hoạt động"}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>First Active Date:</td>
                                        <td><strong>{{merchant.firtActiveDate}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Last Active Date:</td>
                                        <td><strong>{{merchant.lastActiveDate}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Approval Date:</td>
                                        <td><strong>{{merchant.approvalDate}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="width30">Address 2:</td>
                                        <td class="width70">
                                            <strong>{{merchant.address2}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="width30">Address 3:</td>
                                        <td class="width70">
                                            <strong>{{merchant.address3}}</strong>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td>District</td>
                                        <td><strong>{{merchant.districtName}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Province</td>
                                        <td><strong>{{merchant.provinceName}}</strong></td>
                                    </tr>     
                                    <tr>
                                        <td>Zip code</td>
                                        <td><strong>{{merchant.zip}}</strong></td>
                                    </tr>  
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <a href="/Agent/ViewMerchantManaged" class="btn btn-primary">Trở lại</a>
    </div>
</div>

@section js {
<script src="~/Asset/angular/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);

    if (pathname.split('/').length == 4) {
        var id = pathname.split('/')[3];

        app.service('userService', function ($http) {
            this.f_GetData = function () {
                return $http({
                    method: 'GET',
                    url: 'http://localhost:8080/RFJVService/rest/merchant/detail/' + id
                });
            };

        });

        app.controller('myController', function ($scope, userService) {

            userService.f_GetData().then(function (a_Result) {
                var l_Data = a_Result.data;
                console.log(l_Data);
                $scope.merchant = l_Data;
            })

        });
    }
</script>

}