
@{
    ViewBag.Title = "Inbox_detail";
}

@section contentHeader {
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Hộp thư</a> </div>
    <h1>Thông báo</h1>
}
<hr>
<div class="row-fluid" ng-app="myApp" ng-controller="myController">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-list"></i> </span>
                <h5><span class="user-info" id="info_bao"> By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM </span></h5>

            </div>

            <div class="widget-content" id="detail">
                Xin chào!

                Chúng tôi muốn thông báo cho bạn biết rằng bạn đã được cấp quyền truy cập sau: Quản lý người dùng và Chỉnh sửa
                vào thuộc tính "Web Hỗ Trợ Lập Trình (UA-100074706-1)" của tài khoản Google Analytics "ZetTeam (UA-100074706)" bởi otocbun@gmail.com.
                Vui lòng đăng nhập vào Analytics tại http://analytics.google.com/analytics/web/ để truy cập vào tài khoản này.

                Trân trọng,
                Nhóm Google Analytics

                Thư này được gửi từ địa chỉ email chỉ để thông báo và không chấp nhận email đến. Vui lòng không trả lời thư này.
            </div>
            <div class="widget-content">
                <div class="control-group">
                    <form>
                        <div class="controls">
                            <textarea class="textarea_editor span12" rows="6" placeholder="Enter text ..." id="text_replay" ></textarea>
                        </div>
                    </form>
                </div>

                <button class="btn btn-primary" ng-click="gui()">Gửi</button>
                
            </div>

            <div id="myAlert" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h2><i class="icon-chevron-down"> </i>Thành công</h2>
                </div>
                <div class="modal-body">
                    <p>Gửi phản hồi thành công</p>
                </div>
                <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" href="#">Xác nhận</a> </div>
            </div>

            <div id="ChuaNhapNoiDung" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h2><i class="icon-warning-sign"> </i> Thất bại</h2>
                </div>
                <div class="modal-body">
                    <p>Chưa nhập nội dung phản hồi</p>
                </div>
                <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" href="#">Xác nhận</a> </div>
            </div>

        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="widget-box">

    </div>
</div>

@section js {
    <script src="~/Asset/angular/angular.min.js"></script>
<script src="~/Asset/js/wysihtml5-0.3.0.js"></script> 
<script src="~/Asset/js/bootstrap-wysihtml5.js"></script>
    <script>
       // $('.textarea_editor').wysihtml5();
        //console.log(sessionStorage);
        //document.getElementById("detail").innerHTML = sessionStorage.detail;
        //document.getElementById("text_replay").innerHTML = sessionStorage.detail;
        console.log(sessionStorage);
        var str = sessionStorage.detail;
        var res = str.replace("↵", "<br/>");
        document.getElementById("detail").innerText = res;
        document.getElementById("info_bao").innerText = "Từ: "+sessionStorage.by+"  ----  Ngày: "+ sessionStorage.time;

        var app = angular.module('myApp', []);
        //app.config(['$qProvider', function ($qProvider) {
        //    $qProvider.errorOnUnhandledRejections(false);
        //}]);

        
        ////
        //$(function () {
        //    $('#more_show').click(function () {
        //        $('#Notifi_list li:hidden').slice(0, 5).show();
        //        if ($('#Notifi_list li').length == $('#Notifi_list li:visible').length) {
        //            $('#more_show').hide();
        //        }
        //    });
        //});
        app.controller('myController', function ($scope, $http) {
            $scope.gui = function () {
                console.log(document.getElementById("text_replay").value);
                if (document.getElementById("text_replay").value.trim() == '') {//kiểm tra da nhập noi dung hay chưa
                    $('#ChuaNhapNoiDung').modal('show');
                } else {
                    var type, phanhoi_from, phanhoi_to;

                    //console.log(sessionStorage);
                    if (sessionStorage.fromAgent != 0) {
                        if (sessionStorage.toMerchant != 0) {
                            //phan hoi tu merchant => Agent -- type = 1
                            type = 1;
                            phanhoi_from = sessionStorage.toMerchant;
                            phanhoi_to = sessionStorage.fromAgent;
                        } else {
                            // phan hoi tu master => Agent  -- type = 2
                            type = 2;
                            phanhoi_from = 0;
                            phanhoi_to = sessionStorage.fromAgent;
                        }
                    }
                    else if (sessionStorage.fromMerchant != 0) {
                        if (sessionStorage.toAgent != 0) {
                            //phan hoi tu Agent => Merchant -- type = 3
                            type = 3;
                            phanhoi_from = sessionStorage.toAgent;
                            phanhoi_to = sessionStorage.fromMerchant;
                        } else {
                            // phan hoi tu master => Merchant -- type = 4
                            type = 4;
                            phanhoi_from = 0;
                            phanhoi_to = sessionStorage.fromMerchant;
                        }
                    }
                    else {
                        if (sessionStorage.toAgent != 0) {
                            //phan hoi tu Agent => master -- type = 5
                            type = 5;
                            phanhoi_from = sessionStorage.toAgent;
                            phanhoi_to = 0;
                        } else if (sessionStorage.toMerchant != 0) {
                            // phan hoi tu Merchant => master -- type = 6
                            type = 6;
                            phanhoi_from = sessionStorage.toMerchant;
                            phanhoi_to = 0;
                        }
                    }

                    //
                    //console.log(document.getElementById("text_replay").value);
                    //console.log(type);
                    //console.log(phanhoi_from);
                    //console.log(phanhoi_to);
                    //service
                    var _data = {
                        type: type,
                        phanhoi_from: phanhoi_from,
                        phanhoi_to: phanhoi_to,
                        mess: document.getElementById("text_replay").value
                    };

                    console.log(_data)
                    $http({
                        method: "POST",
                        data: _data,
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        url: 'http://localhost:8080/RFJVService/rest/notification/addnotification'
                    }).then(function (a_Result) {
                        //ket qua tra ve - k co du lieu tra ve thi bo luon phan nay ak
                        //ko, ko co thi van gi, nhung de trong
                        console.log(a_Result.data)
                        if (a_Result.data == 1) {
                            $('#myAlert').modal('show');
                        }
                    })
                }
                
                           
            }
        });
        //
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, "");
        }
    </script>
}




