USE [card_processing]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([RegionId], [RegionName]) VALUES (1, N'Miền Nam')
INSERT [dbo].[Region] ([RegionId], [RegionName]) VALUES (2, N'Miền Trung')
INSERT [dbo].[Region] ([RegionId], [RegionName]) VALUES (3, N'Miền Bắc 1')
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[Province]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Province] ON
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName]) VALUES (1, N'TP Hồ Chí Minh')
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName]) VALUES (2, N'Hà Nội')
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[Province] OFF
/****** Object:  Table [dbo].[Notification]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTime] [datetime] NOT NULL,
	[FromMerchant] [int] NULL,
	[FromAgent] [int] NULL,
	[FromMaster] [int] NULL,
	[ToMerchant] [varchar](255) NULL,
	[ToAgent] [varchar](255) NULL,
	[ToMaster] [varchar](255) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsSeen] [bit] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MerchantType]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MerchantType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MerchantType] ON
INSERT [dbo].[MerchantType] ([TypeId], [TypeName]) VALUES (1, N'Cửa hàng quần áo')
INSERT [dbo].[MerchantType] ([TypeId], [TypeName]) VALUES (2, N'Quán ăn')
INSERT [dbo].[MerchantType] ([TypeId], [TypeName]) VALUES (3, N'Siêu thị')
SET IDENTITY_INSERT [dbo].[MerchantType] OFF
/****** Object:  Table [dbo].[District]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[District] ON
INSERT [dbo].[District] ([DistrictId], [DistrictName]) VALUES (1, N'Quận 1')
INSERT [dbo].[District] ([DistrictId], [DistrictName]) VALUES (2, N'Quận 2')
INSERT [dbo].[District] ([DistrictId], [DistrictName]) VALUES (3, N'Quận 3')
SET IDENTITY_INSERT [dbo].[District] OFF
/****** Object:  Table [dbo].[Configuration]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Configuration](
	[ConfigurationName] [varchar](50) NOT NULL,
	[ConfigurationValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[ConfigurationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CardType]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CardType](
	[CardTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CardTypeName] [varchar](50) NULL,
 CONSTRAINT [PK_CardType] PRIMARY KEY CLUSTERED 
(
	[CardTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CardType] ON
INSERT [dbo].[CardType] ([CardTypeId], [CardTypeName]) VALUES (1, N'Visa Card')
INSERT [dbo].[CardType] ([CardTypeId], [CardTypeName]) VALUES (2, N'Master Card')
INSERT [dbo].[CardType] ([CardTypeId], [CardTypeName]) VALUES (3, N'Debit Card')
SET IDENTITY_INSERT [dbo].[CardType] OFF
/****** Object:  Table [dbo].[TransactionType]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionType](
	[TransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TransactionType] ON
INSERT [dbo].[TransactionType] ([TransactionTypeId], [TransactionTypeName]) VALUES (1, N'Sale ')
INSERT [dbo].[TransactionType] ([TransactionTypeId], [TransactionTypeName]) VALUES (2, N'Return')
INSERT [dbo].[TransactionType] ([TransactionTypeId], [TransactionTypeName]) VALUES (3, N'Retrival')
SET IDENTITY_INSERT [dbo].[TransactionType] OFF
/****** Object:  Table [dbo].[UserRole]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (1, N'Merchant')
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (2, N'Agent')
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (3, N'Master')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
/****** Object:  Table [dbo].[RegionMapping]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionMapping](
	[RegionId] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_RegionMapping] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC,
	[ProvinceId] ASC,
	[DistrictId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RegionMapping] ([RegionId], [ProvinceId], [DistrictId], [Description]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[RegionMapping] ([RegionId], [ProvinceId], [DistrictId], [Description]) VALUES (1, 1, 2, NULL)
INSERT [dbo].[RegionMapping] ([RegionId], [ProvinceId], [DistrictId], [Description]) VALUES (1, 1, 3, NULL)
/****** Object:  Table [dbo].[User]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([UserId], [UserName], [Password], [FullName], [Phone], [RoleId], [IsActive]) VALUES (2, N'demo01', N'e10adc3949ba59abbe56e057f20f883e', N'Lý Thanh Nam', N'0123452345', 1, 1)
INSERT [dbo].[User] ([UserId], [UserName], [Password], [FullName], [Phone], [RoleId], [IsActive]) VALUES (4, N'demo02', N'e10adc3949ba59abbe56e057f20f883e', N'Trần Vĩnh Nam', N'090345678', 1, 1)
INSERT [dbo].[User] ([UserId], [UserName], [Password], [FullName], [Phone], [RoleId], [IsActive]) VALUES (5, N'demo03', N'e10adc3949ba59abbe56e057f20f883e', N'Huỳnh Chánh Kiệt', N'012244553', 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Agent]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agent](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [nvarchar](100) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[OwnerId] [int] NULL,
	[Phone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Zip] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Agent] ON
INSERT [dbo].[Agent] ([AgentId], [AgentName], [ProvinceId], [DistrictId], [Address], [IsActive], [OwnerId], [Phone], [Fax], [Zip], [Email]) VALUES (3, N'CN ViettinBank TPHCM', 1, 1, N'221 Nguyễn Thị Minh Khai', 1, 9, N'3334325431', N'224553667', N'70000', N'vtb01@gmail.com')
INSERT [dbo].[Agent] ([AgentId], [AgentName], [ProvinceId], [DistrictId], [Address], [IsActive], [OwnerId], [Phone], [Fax], [Zip], [Email]) VALUES (4, N'CN ViettinBank TPHCM Quận 12', 1, 12, N'132 Phan Văn Hớn', 1, 10, N'2454674377', N'145667990', N'70000', N'vtb02@email.com')
SET IDENTITY_INSERT [dbo].[Agent] OFF
/****** Object:  Table [dbo].[Merchant]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Merchant](
	[MerchantId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantType] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Phone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[AgentId] [int] NULL,
	[OwnerId] [int] NULL,
	[FirstActiveDate] [datetime] NULL,
	[LastActiveDate] [datetime] NULL,
	[MerchantName] [nvarchar](100) NOT NULL,
	[Status] [nchar](10) NULL,
	[Owner] [varchar](50) NULL,
	[Address1] [nvarchar](255) NOT NULL,
	[Address2] [nvarchar](255) NULL,
	[Address3] [nvarchar](255) NULL,
	[Zip] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[ApprovalDate] [datetime] NULL,
	[CloseDate] [datetime] NULL,
	[BankCardDBA] [varchar](50) NULL,
	[BackendProcessor] [varchar](100) NULL,
 CONSTRAINT [PK_Merchant] PRIMARY KEY CLUSTERED 
(
	[MerchantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Merchant] ON
SET IDENTITY_INSERT [dbo].[Merchant] OFF
/****** Object:  Table [dbo].[TransactionDetail]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetail](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[TransactionAmount] [money] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[TransationTime] [time](7) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CardTypeId] [int] NOT NULL,
	[KeyedEntry] [nchar](10) NULL,
	[AuthorizationNumber] [int] NULL,
	[AccountNumber] [nchar](10) NULL,
	[FirstTwelveAccountNumber] [nchar](12) NULL,
	[CountryCode] [nchar](10) NULL,
	[FileSource] [nvarchar](255) NULL,
	[ExpirationDate] [datetime] NULL,
	[TransactionTypeId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductAmount] [int] NOT NULL,
 CONSTRAINT [PK_TransactionDetail] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantInvitation]    Script Date: 05/12/2017 01:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantInvitation](
	[FromMerchantId] [int] NOT NULL,
	[NewMerchantName] [nvarchar](100) NOT NULL,
	[InvitationDescription] [nvarchar](max) NOT NULL,
	[InvitationDate] [datetime] NOT NULL,
	[IsResolved] [bit] NOT NULL,
 CONSTRAINT [PK_MerchantInvitation] PRIMARY KEY CLUSTERED 
(
	[FromMerchantId] ASC,
	[InvitationDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Default [DF_User_IsActive]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  ForeignKey [FK_Agent_District]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([DistrictId])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_District]
GO
/****** Object:  ForeignKey [FK_Agent_Province]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ProvinceId])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_Province]
GO
/****** Object:  ForeignKey [FK_Agent_User]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_User] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_User]
GO
/****** Object:  ForeignKey [FK_Merchant_Agent]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_Agent] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agent] ([AgentId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_Agent]
GO
/****** Object:  ForeignKey [FK_Merchant_District]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([DistrictId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_District]
GO
/****** Object:  ForeignKey [FK_Merchant_MerchantType]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_MerchantType] FOREIGN KEY([MerchantType])
REFERENCES [dbo].[MerchantType] ([TypeId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_MerchantType]
GO
/****** Object:  ForeignKey [FK_Merchant_Province]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ProvinceId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_Province]
GO
/****** Object:  ForeignKey [FK_Merchant_User]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_User] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_User]
GO
/****** Object:  ForeignKey [FK_MerchantInvitation_Merchant]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[MerchantInvitation]  WITH CHECK ADD  CONSTRAINT [FK_MerchantInvitation_Merchant] FOREIGN KEY([FromMerchantId])
REFERENCES [dbo].[Merchant] ([MerchantId])
GO
ALTER TABLE [dbo].[MerchantInvitation] CHECK CONSTRAINT [FK_MerchantInvitation_Merchant]
GO
/****** Object:  ForeignKey [FK_RegionMapping_District]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[RegionMapping]  WITH CHECK ADD  CONSTRAINT [FK_RegionMapping_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([DistrictId])
GO
ALTER TABLE [dbo].[RegionMapping] CHECK CONSTRAINT [FK_RegionMapping_District]
GO
/****** Object:  ForeignKey [FK_RegionMapping_Province]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[RegionMapping]  WITH CHECK ADD  CONSTRAINT [FK_RegionMapping_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ProvinceId])
GO
ALTER TABLE [dbo].[RegionMapping] CHECK CONSTRAINT [FK_RegionMapping_Province]
GO
/****** Object:  ForeignKey [FK_TransactionDetail_CardType]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[TransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetail_CardType] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardType] ([CardTypeId])
GO
ALTER TABLE [dbo].[TransactionDetail] CHECK CONSTRAINT [FK_TransactionDetail_CardType]
GO
/****** Object:  ForeignKey [FK_TransactionDetail_Merchant]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[TransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetail_Merchant] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[Merchant] ([MerchantId])
GO
ALTER TABLE [dbo].[TransactionDetail] CHECK CONSTRAINT [FK_TransactionDetail_Merchant]
GO
/****** Object:  ForeignKey [FK_TransactionDetail_TransactionType]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[TransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetail_TransactionType] FOREIGN KEY([TransactionTypeId])
REFERENCES [dbo].[TransactionType] ([TransactionTypeId])
GO
ALTER TABLE [dbo].[TransactionDetail] CHECK CONSTRAINT [FK_TransactionDetail_TransactionType]
GO
/****** Object:  ForeignKey [FK_User_UserRole]    Script Date: 05/12/2017 01:57:24 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
