
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Asset/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Asset/css/matrix-login.css" />
    <link href="~/Asset/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="index.html">
            <div id="divLoading"></div>
            <div class="control-group normal_text"> <h3>Đăng nhập</h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Username" id="txtUsername"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Password" id="txtPassword" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
                <span class="pull-right"><a type="submit" href="#" class="btn btn-success" id="btnLogin"/> Login</a></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                <span class="pull-right"><a class="btn btn-info" />Reecover</a></span>
            </div>
        </form>
    </div>

    <script src="~/Asset/js/jquery.min.js"></script>
    <script src="~/Asset/js/matrix.login.js"></script>

    <script>

        $("#btnLogin").click(function () {
            login();
        });

        document.onkeydown = function (e) {
            if (e.keyCode == 13) {
                login();
            }
        }

        function login() {
            $("div#divLoading").addClass('show');

            var data = {
                username: $("#txtUsername").val(),
                password: $("#txtPassword").val()
            }

            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                url: "http://localhost:8080/RFJVService/rest/user/checklogin"
            }).done(function (response) {
                $("div#divLoading").removeClass('show');

                if (response.token === "") {
                    alert("Sai tên mật khẩu hoặc password ! Vui lòng kiểm tra lại.");
                }
                else {
                    console.log(response);
                    sessionStorage.token_value = response.token;
                    sessionStorage.userid = response.userid;
                    sessionStorage.roleid = response.roleid;
                    sessionStorage.cpnid = response.cpn;
                    window.location.href = "/Home/Home";
                }

            }).fail(function (xhr, status, error) {
                $("div#divLoading").removeClass('show');
                console.log(xhr);
                console.log(status);
                console.log(error);
            });
        }
        
    </script>
</body>

</html>

